<div class="container">
   <dc-logo />
  <h1>Sign up</h1>
  <form [formGroup]="contactSignupForm" (ngSubmit)="submitForm()">
    <div class="input-container">
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="Your Name">
  
      <label for="email">Email</label>
      <input type="text" formControlName="email" placeholder="Your Email">
      
      <label for ="password">Password</label>
      <input type="password" formControlName="password" placeholder="Password">

      <label for="repeatpassword">Repeat Password</label>
      <input type="password" formControlName="repeatpassword" placeholder="Repeat Password">
    </div>
    <button type="submit">SIGN UP</button>
  </form>
</div>
