<div class="container">
    <h1> Sign up</h1>
    <form signupForm>
     <div class="input-container">
        <label for="name">Name</label>
        <input type="text" placeholder="Your Name">
    
        <label for="email">Email</label>
        <input type="text" placeholder="Your Email">
        
        <label for ="password">Password</label>
        <input type="password" placeholder="password">

        <label for="repeatpassword">ReapeatPassword</label>
        <input type="password" placeholder="Repeat Password">
       
    </div>
     <button type="submit">SIGN UP</button>
    </form>
</div>
