.container {
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;

  h1 {
     margin: 20px 0;
     font-size: 24px;
     color: #333;
  }
} 
  
  /* Form Input Container */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;

  label {
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
  }

  input[type="text"]:focus {
    border-color: #007bff;
  }

  input[type="radio"]{
    margin:0 12px;
  }
}

.forgot {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  float: right;

    &:hover{
      text-decoration: underline;
    }
  }
  
  /* Button Styling */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.3s ease;
    
    &::hover {
      background-color: #0056b3;
    }
  }
  