@import '../../../variables.scss';
.container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;

  h1 {
     margin: 20px 0;
     font-size: 30px;
     padding: 10px;
     color:$secondary-color;
  }
} 
  
  /* Form Input Container */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;

  label {
    font-size: 20px;
    font-weight: bold;
    color:$secondary-color;
  }
  
  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
  }

  input:focus {
    border-color: $primary-color;
  }

  input[type="radio"] {
    margin:0 12px;
  }
}

.forgot {
  font-size: 18px;
  color: $primary-color;
  text-decoration: none;
  float: right;

    &:hover{
      text-decoration: underline;
    }
  }
  
  /* Button Styling */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.3s ease;
    
    &:hover {
      filter: brightness(120%);
    }
  }
  