<dc-navbar/>
<div class="home-container">
  <div class="hero">
    <h1>FIND THE SOLUTION OF ALL YOUR PROBLEMS <br/>ALL UNDER YOUR FINGERS</h1>
    <p>
      Join a supportive community where you can share your thoughts, get feedback, and learn from others.<br> 
      Connect with like-minded individuals, gain new insights,<br>
      and grow together through meaningful discussions and shared experiences
    </p>
    <ul>
      <li>✅ secure , safe</li>
      <li>✅ Community-driven</li>
      <li>✅ Reliable solutions</li>
      <li>✅ Accessible anytime, anywhere</li>
    </ul>
    <div class="cta-buttons">
      <button class="btn-started"  routerLink="/signup">Get Started</button>
      <button class="btn-explore">Explore Ideas</button>
    </div>
  </div>
  <div class="backgroundImage">
    <img src="assets/solution.png" alt="">
  </div>
</div>
